.app{
    overflow-y: overlay;
    background-color: lightblue;
}

@media only screen and (min-width: 992px){
    .resourceContainer{
        display: flex;
    }
    .picture{
        width: 400px;
        height: 400px;
    }
}

